@font-face {
   font-family: pretty-font;
   src: url('https://res.cloudinary.com/dsguwnfdw/raw/upload/v1478195629/Gifs/prima_sans.ttf');
 }

html, body {
  margin: 0;
  padding: 0;
}

.start-display {
  font-family: pretty-font;
  height: 300px;
  width: 300px;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  position: absolute;
  bottom: calc(35%);
  left: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.difficulty {
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 75px;
  position: absolute;
  font-family: pretty-font;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  bottom: calc(17%);
}

.d-header {
  font-size: 20px;
}

.d-row {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.d-choice {
  color: black;
  width: 185px;
  height: 45px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.d-choice:hover {
  background-color: grey;
  color: white;
}

.selected {
  color: white;
  font-weight: bold;
  background: rgba(70, 120, 255, 0.8);

}

.selected:hover {
  color: white;
  font-weight: bold;
  background-color: #0042FF;
}

.press-space {
  font-family: pretty-font;
  color: white;
  position: absolute;
  width: 300px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  height: auto;
  bottom: calc(30px);
  left: calc(50% - 150px);
}

.end-display {
  font-family: pretty-font;
  height: 300px;
  width: 300px;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  position: absolute;
  bottom: calc(35%);
  left: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.win-display {
  font-family: pretty-font;
  height: 300px;
  width: 300px;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  position: absolute;
  bottom: calc(35%);
  left: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  opacity: 1;
  font-size: 30px;
  margin-top: 120px;
  margin-bottom: 20px;
}

.header2 {
  opacity: 1;
  font-size: 24px;
  margin-top: 120px;
  margin-bottom: 25px;
}

.subheader {
  opacity: 1;
  font-size: 17px;
  margin-top: 40px;
}

.subheader2 {
  font-family: sans-serif;
  font-weight: lighter;
  opacity: 1;
  margin-top: 5px;
}

.pause {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border-radius: 50px;
}

.pause:active {
  background-color: grey;
}

.corner-instructions {
  color: white;
  font-family: pretty-font;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 5;
  bottom: 10px;
  font-size: 14px;
  right: 10;
}

#game-canvas {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: block; /* fix necessary to remove space at bottom of canvas */
  background-color: black;
}

.gone {
  display: none;
}

.transparent {
  background: rgba(255, 255, 255, 0.8);
}
